/* varible declaration */

:root {
    --grey: #707070;
    --light-blue: #1792D2;
    --deep-blue: #143774;
    --white-grey: #f8f8f8;
}

body {
    margin: 0;
    font-family: 'ubuntu', sans-serif;
}


/* ===================
Typography
====================*/

h1 {
    margin: 0;
    font-family: 'Lora';
    font-size: 2rem;
    color: var(--deep-blue);
    font-weight: 400;
    /* border: 1px solid magenta; */
}

.logo-sub-title {
    /* border: 1px solid magenta; */
    margin: 0;
    text-transform: uppercase;
    font-weight: 700; /* same as bold*/
    font-size: .75rem;
    letter-spacing: 2px;
    color: var(--light-blue);
    text-align: center;
}


/* ==========
Layout
============ */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0px auto;
    /* border: 1px solid magenta; */
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header {
    /* border: 1px solid magenta; */
    background-color: var(--white-grey);
    padding: 2em 0;
}

/* navigation */

nav a {
    text-decoration: none;
    color: var(--grey);
    letter-spacing: 2px;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: var(--light-blue);
}

nav ul {
    padding: 0;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
}

nav li {
    margin-left: 2em;
}

.current-page {
    border-bottom: 1.5px solid var(--grey);
}

.current-page:hover {
    color: var(--grey);
}

/* media */
/* nav on small screen */
@media (max-width: 800px) {
    .container-nav {
        flex-direction: column;
        /* align-items: center; */
    }

    header {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: .75em 0;
    }
}