.card {
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 2px;
    font-size: 40px;
    background-color: rgb(138, 150, 138);
    width: 500px;
    height: 200px;
    text-align: center;
    padding: 10px;
}
.card h1 {
    color: rgb(0, 128, 0);
    /* color: rgb(84, 104, 84); */
    text-shadow: 0px 0px 4px black;
}