@font-face {
    font-family: "amazon ember";
    src: url("Amazon_Typefaces_Complete_Font_Set_Mar2020/Ember/Amazon-Ember-Medium.ttf");
}
@font-face {
    font-family: "AmazonEmber_Lt";
    src: url("Amazon_Typefaces_Complete_Font_Set_Mar2020/EmberDisplay/AmazonEmberDisplay_Lt.ttf");
}
@font-face {
    font-family: "AmazonEmber_He";
    src: url("Amazon_Typefaces_Complete_Font_Set_Mar2020/EmberDisplay/AmazonEmberDisplay_Md.ttf");
}

/* all */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "roboto";
}

h1 {
    font-family: "amazon ember";
    font-size: 30px;
}

h3 {
    font-family: "AmazonEmber_He";
}

/* main */
#product-card {
    margin: 50px auto;
    padding: 15px;
    display: flex;
    width: 920px;
    border: 2.5px solid black;
}

.product {
    margin: 20px 30px 40px 20px;

}

.product-img {
    box-shadow: 1px 2px 3px 3px rgb(239, 239, 239);
    border-radius: 4px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
.category {
    margin-bottom: 15px;
    color: grey;
}
.product-img img {
    width: 340px;
}
.copyright-image {
    color: grey;
    font-size: 13px;
    margin-bottom: 5px;
}


.product-details {
    margin-top: 15px;
}
.product-details h1 {
    margin-bottom: 15px;
}
.product-details p a {
    color: rgb(0, 117, 128);
    font-size: 17px;
    font-weight: 500;
}
/* ratings */
.ratings {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.ratings img {
    width: 20px;
}
.ratings p {
    font-size: 18px;
    padding: 0;
    margin: 0;
    padding-top: 1px;
    padding-right: 5px;
}
.product-details h3 {
    margin-bottom: 10px;
}